* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  max-height: 100%
}

.dashboard {
  display: flex;
  background-color: #6874e8;
  padding: 1rem;
  justify-content: right;
}

#dashboard-title {
  letter-spacing: 0.2rem;
  color: white;
  text-align:right;
  margin-right:10rem;
  font-size: 4rem;
  font-weight: bold;

}

.search {
  background-color: blanchedalmond;
  padding-left: 3rem;
}
.mt-3 {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
#site-search {
  border-radius: 3px;
  padding: 1rem;
  
  height: 40px;
  width: 250px;
}

#search-button {
  width: 25rem;
  height: 25px;
  margin-top: 1rem;
}
#five-day-title{
display: flex;

}
