*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    display:flex;
    background-color: #6874E8;
    padding:1.75rem;
    justify-content: right;
}

#dashboard-title{
    letter-spacing: .2rem;
    color:white;
    padding-right:17rem;
    font-size: 4.5rem;
    font-weight: bold;
}