*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dashboard {
    display:flex;
    background-color: #6874E8;
    padding:1rem;
    justify-content: right;
}

#dashboard-title{
    letter-spacing: .2rem;
    color:white;
    padding-right:20rem;
    font-size: 4rem;
    font-weight: bold;
}

.search{
    background-color:blanchedalmond;
    padding-left: 3rem;
}
.mt-3{
    padding-left: .5rem;
    padding-bottom:.5rem;
}
#site-search{
    border-radius: 3px;
    padding:1rem;
    font-size:medium;
    height:40px;
    width:250px;
   
}

#search-button{
   width:25rem;
   height:25px;
   margin-top:1rem;
}